:root {
  --primary-bg-color: #ffffff;
  --secondary-bg-color: #fff8b5;
  --primary-color: #388e3c;
  --secondary-color: #ffff;
  --primary-font-family: "Playfair Display", serif;
  --secondary-font-family: "Poppins", sans-serif;
}

body {
  background: var(--primary-bg-color);
  letter-spacing: 2px;
}

h1,
h3,
h4,
h5,
h6 {
  font-family: var(--primary-font-family);
}

h1 {
  font-size: 80px;
  line-height: 100px;
}

h2 {
  font-family: var(--secondary-font-family);
  font-size: 40px;
  font-weight: 700;
}

h3 {
  font-size: 26px;
}

h4 {
  font-size: 64px;
  margin: 0px 0px 15px 0px;
}

h5 {
  font-size: 32px;
}

h6 {
  font-size: 40px;
}

p {
  font-family: var(--secondary-font-family);
  font-weight: normal;
  font-size: 20px;
  letter-spacing: 1px;
}

.link-button {
  border: 2px solid var(--primary-color);
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgb(0, 0, 0, 0.25);
  background: var(--primary-color);
  font-family: var(--secondary-font-family);
  font-size: 20px;
  color: #ffff;
  text-decoration: none;
  padding: 5px 24px;
  line-height: 60px;
}

.work-contact-button {
  padding: 20px 50px;
  font-size: 25px;
}

.hero {
  background: var(--secondary-bg-color);
  border-radius: 10px;
  margin: 0px auto;
  padding: 10px 0 40px;
}

.hero h4 {
  font-size: 42px;
}

.tools-technologies li {
  list-style-position: inside;
  font-size: 20px;
}

section.tools-technologies {
  font-family: var(--secondary-font-family);
}

.projects {
  padding: 15px 0;
  margin: 0 auto;
}

.projects img {
  border-radius: 10px;
}

.project-1,
.project-2,
.project-4 {
  padding: 60px 10px;
}

.project-description {
  padding: 200px 30px;
}

.content-container {
  justify-content: center;
}

.content-container h1 {
  margin: 10px 0px -15px 0px;
}

nav {
  padding: 5px 0;
  font-family: var(--secondary-font-family);
}

.navbar-nav .active {
  color: var(--primary-color) !important;
  font-weight: bold;
  transition: all 100ms ease-in-out;
}

.see-projects-button {
  margin-bottom: 100px;
}

footer .contact-box {
  background: var(--secondary-bg-color);
  margin-top: 100px;
  padding: 30px 10px;
  border-radius: 10px;
  justify-content: center;
}

footer .contact-buttons {
  background: var(--secondary-bg-color);
  padding: 20px 10px;
  border-radius: 10px;
  justify-content: center;
}

footer h4 {
  font-size: 64px;
  margin: 0px;
}

.email-link {
  text-decoration: none;
  color: black;
  font-size: 24px;
}

footer .email-link:hover {
  color: var(--primary-color);
}

footer .contact-links a,
.contact-page-details a,
.icon a {
  border-radius: 30%;
  padding: 15px 10px;
  height: 18px;
  width: 18px;
  color: var(--primary-color);
  transition: all 100ms ease-in-out;
  font-size: 18px;
}

footer .contact-links a:hover,
.contact-page-details a:hover {
  color: var(--primary-color);
  background: var(--secondary-bg-color);
}

@media screen and (max-width: 426px) {
  header h1 {
    line-height: 50px;
    text-align: center;
  }

  ul {
    padding: 0;
  }

  footer h4 {
    text-align: center;
    font-size: 30px;
  }

  a.email-link {
    font-size: 16px;
  }

  .hero-container {
    flex-direction: column;
    text-align: center;
  }

  .row {
    flex-direction: column;
    align-content: center;
    text-align: center;
  }
  .col-6 {
    width: 100%;
  }
}

@media screen and (max-width: 769px) {
  header h1 {
    font-size: 42px;
  }

  header h3 {
    font-size: 26px;
    line-height: 50px;
  }

  hero img {
    max-width: 200px;
  }

  .home-text h2 {
    font-size: 26px;
  }

  .home-text p {
    font-size: 18px;
  }
}

@media screen and (min-width: 1024px) {
  header h1 {
    font-size: 70px;
  }

  .home-text h2 {
    font-size: 30px;
  }
}
